<div class="container" style="padding-top:60px">
  <div class="row">
    <section class="main col-md-9">
      <article>
      <h2>About</h2>
     <p>
        Hi, my name is Daniel Fu and I am currently a student in the Software Development Program at Seneca College. 
        Some activities I like doing is playing sports like soccer and basketball. I also like watching movies and shows, specifically UFC. 
        One of my goals after graduating from this program would be to find a web development job at a big company. 
        I enjoy designing webpages and make asthetic looking webpages. In this web programming course (BTI325), I am looking forward to learning many 
        new skills and methods to develop high quality web pages.
    </p>
      </article>
    </section>
    <aside class="col-md-3">
      <h2>Coming Soon</h2>
      <p>Stay tuned for future updates about my life.</p>
    </aside>
  </div>
</div>